/*GENERAL*/
*{
    box-sizing: border-box;
}

body{
    font-family: "Domine", sans-serif;
    color:#808080;
    background-color: #F9F7C9;
    margin: 0;
    padding: 0;
}

h2, h3{
    color: #80BCBD;
}

/*HEADER*/
#title{
    font-size: large;
    color: #80BCBD;
    text-align: center;
    background-color: #D5F0C1;
    padding: 80px;
}

nav{
    background-color: #AAD9BB;
    padding: 6px;
}

nav ul{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

nav li{
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: #808080;
}

nav a:hover, footer .content2 ul li a:hover{
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 55px white, 0 0 75px white;
    transition: text-shadow 0.2s ease-in-out;
    font-weight: 900;
}

/*MAIN*/
.image{
    max-width: 100%;
    max-height: 300px;
    border-radius: 20px;
    object-fit: contain;
}

.biodata img{
    width: 200px;
    height: 200px;
    margin-left: 9px;
    border-radius: 50%;
    object-fit: cover;
}

.border{
    border: 5px solid #AAD9BB;
    padding: 20px;
    border-radius: 20px;
}

main{
    display: flex;
    padding: 30px;
    gap: 3rem;
}

main .content{
    display: flex;
    flex: 7;
    flex-flow: column nowrap;
}

main aside{
    flex: 2;
    height: 50%;

}


/*FOOTER*/
footer .content1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #AAD9BB;
}

footer .content1 h2{
    color: #F9F7C9;
}

footer .content1 p{
    max-width: 500px;
}

footer .content1 ul{
    display: flex;
    gap: 1.5rem;
}

footer .content1 ul li{
    list-style-type: none;
}

footer .content1 ul li a{
    text-decoration: none;
    color: #F9F7C9;
    font-size: 2rem;
}

footer .content2{
    display: flex;
    justify-content: space-between;
    background-color: #D5F0C1;
    color: #808080;
    padding: 6px;
}

footer .content2 ul{
    display: flex;
    gap: 1.5rem;    
}

footer .content2 ul li{
    list-style-type: none;
}

footer .content2 ul li a{
    text-decoration: none;
    color: #808080;
}


/*Pengaturan Mobile View*/
@media screen and (max-width: 768px){
    main aside{
        align-self: stretch;
    }
    body{
        display: flex;
        flex-flow: column wrap;
    }
    header, footer{
        display: flex;
        flex-flow: column wrap;
        align-self: stretch;
    }
}

@media screen and (max-width: 1200px){
    main{
        flex-flow: column nowrap;
    }
    main aside{
        align-self: center;
    }
}
